.com_jev_statusbar-StatusBarDiv {
	display:none;
	position: fixed;
	z-index: 999999999;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 3px 5px 5px 5px;
	height: 11px;
	width: auto;
	max-width: 80%;
	overflow: hidden;
	text-overflow:ellipsis;
	
	font-family: 'Lucida Grande', sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #333;
	text-shadow: rgba(255,255,255,0.4) 1px 1px 0px;
	text-transform: lowercase;
	text-decoration: none;
	text-align: left;
	white-space:nowrap;
	
	background-color: rgba(185,185,185,0.8);
	-webkit-border-top-right-radius: 5px;
	
	-webkit-transition-property:bottom, border-bottom-right-radius;
	-webkit-transition-duration:.2s;
	-webkit-transition-timing-function:ease-out;
}
